#page section .car_sel {
  height: 702px;
  background: url(http://y2.hy755.cn/9017/advance/pics/20170922/1506067846.jpg) no-repeat;
  background-size: cover;
}
#page section .container {
  width: 1250px;
  margin: 0 auto;
  padding-bottom: 50px;
}
#page section .container .bread_crumbs {
  line-height: 22px;
}
#page section .container .bg_top {
  width: 100%;
  height: 15px;
  background-image: url('../../../assets/t.png');
  background-size: 100%;
}
#page section .container .content {
  display: flex;
  padding-top: 15px;
}
#page section .container .content .cont_l {
  flex: 0.4;
}
#page section .container .content .cont_l .hd {
  background-color: #c5a47c;
  width: 100%;
  height: 120px;
  color: #fff;
  position: relative;
}
#page section .container .content .cont_l .hd .t1,
#page section .container .content .cont_l .hd .t2 {
  position: absolute;
  left: 30px;
}
#page section .container .content .cont_l .hd .t1 {
  display: block;
  line-height: 50px;
  font-family: arial;
  font-size: 28px;
  top: 20px;
}
#page section .container .content .cont_l .hd .t2 {
  font-size: 16px;
  top: 62px;
}
#page section .container .content .cont_l ul li {
  width: 100%;
  height: 45px;
  margin-top: 4px;
  text-align: center;
  background-color: #000;
}
#page section .container .content .cont_l ul li span {
  display: none;
}
#page section .container .content .cont_l ul li a {
  line-height: 45px;
  color: #fff;
  text-decoration: none;
}
#page section .container .content .cont {
  flex: 1.1;
  padding: 5px;
}
#page section .container .content .cont span {
  text-indent: 5px;
  font-family: 微软雅黑;
  line-height: 2.5;
  font-size: 12px;
}
#page section .container .content .cont_r {
  flex: 0.5;
  padding: 10px 0 0 20px;
}
