#page section .car_sel {
  height: 702px;
  background: url(http://y2.hy755.cn/9017/advance/pics/20170922/1506067846.jpg) no-repeat;
  background-size: cover;
}
#page section .container {
  width: 1250px;
  height: 700px;
  margin: 0 auto;
}
#page section .container .bg_top {
  width: 100%;
  height: 15px;
  background-image: url('../../../assets/t.png');
  background-size: 100%;
  margin-left: -15px;
  padding-bottom: 10px;
}
#page section .container .bread_crumbs {
  line-height: 35px;
  margin-top: 10px;
}
#page section .container .content {
  display: flex;
  height: 650px;
  overflow: hidden;
}
#page section .container .content .cont_l {
  flex: 0.2;
}
#page section .container .content .cont_l .hd {
  background-color: #c5a47c;
  width: 100%;
  height: 120px;
  color: #fff;
  position: relative;
}
#page section .container .content .cont_l .hd .t1,
#page section .container .content .cont_l .hd .t2 {
  position: absolute;
  left: 30px;
}
#page section .container .content .cont_l .hd .t1 {
  display: block;
  line-height: 50px;
  font-family: arial;
  font-size: 28px;
  top: 20px;
}
#page section .container .content .cont_l .hd .t2 {
  font-size: 16px;
  top: 62px;
}
#page section .container .content .cont_l ul li {
  width: 100%;
  height: 45px;
  margin-top: 4px;
  text-align: center;
  background-color: #000;
}
#page section .container .content .cont_l ul li span {
  display: none;
}
#page section .container .content .cont_l ul li a {
  line-height: 45px;
  color: #fff;
  text-decoration: none;
}
#page section .container .content .cont_r {
  flex: 1;
  overflow: hidden;
}
#page section .container .content .cont_r .no1 img {
  padding-top: 55px;
}
#page section .container .content .cont_r .fang {
  width: 220px;
  height: 250px;
  float: left;
  margin: 0 15px 15px 15px;
  position: relative;
}
#page section .container .content .cont_r .fang strong {
  display: block;
  position: absolute;
  bottom: 0;
}
