#page section .container {
  width: 1250px;
  margin: 0 auto;
}
#page .car_sel {
  height: 702px;
  background: url(http://y2.hy755.cn/9017/advance/pics/20170922/1506067846.jpg) no-repeat;
  background-size: cover;
}
#page section {
  overflow: hidden;
}
#page section .container .cont_reserve_bg,
#page section .container .cont_about_bg {
  width: 332px;
  height: 67px;
  margin: 10px auto;
}
#page section .container .cont_about_bg {
  background: url('../../../assets/abust.png');
}
#page section .container .cont_about {
  width: 100%;
  display: flex;
  padding-bottom: 80px;
}
#page section .container .cont_about .cont_about_l {
  flex: 1.3;
  padding: 5px;
}
#page section .container .cont_about .cont_about_l p span {
  font-family: 'Microsoft YaHei';
  line-height: 2.5;
  color: #666666;
}
#page section .container .cont_about .cont_about_l p span strong {
  font-family: 'Microsoft YaHei';
  line-height: 2.5;
  font-size: 18px;
  color: #666666;
}
#page section .container .cont_about .cont_cent {
  flex: 1;
}
#page section .container .cont_about .cont_cent p {
  width: 100%;
}
#page section .container .cont_about .cont_cent p b {
  font-size: 18px;
  line-height: 45px;
  padding-left: 150px;
}
#page section .container .cont_about .cont_cent div {
  display: flex;
}
#page section .container .cont_about .cont_cent div div {
  flex: 1;
}
#page section .container .cont_about .cont_cent div div img {
  padding: 20px 0 0 20px;
}
#page section .container .cont_about .cont_cent div .con {
  flex: 1.7;
  flex-direction: column;
  height: 94px;
  padding: 5px;
}
#page section .container .cont_about .cont_cent div .con p {
  font-family: 'Microsoft YaHei';
  font-size: 14px;
  line-height: 1;
  color: #C5A47E;
}
#page section .container .cont_about .cont_cent div .con span {
  display: block;
  color: #000;
}
#page section .container .cont_about .cont_about_r {
  flex: 0.9;
}
#page section .container .cont_about .cont_about_r img {
  margin: 25px;
}
#page section .container .more {
  background: url('../../../assets/more.png');
  margin: 0 auto;
  width: 220px;
  height: 73px;
}
#page section .container .cont_reserve_bg {
  background: url('../../../assets/al.jpg');
}
#page section .container ul {
  margin-left: 50px;
  overflow: hidden;
}
#page section .container ul li {
  width: 362px;
  height: 343px;
  border: 1px solid #000;
  float: left;
  margin: 10px;
}
#page section .container ul li img {
  padding: 25px;
}
#page section .container .cont_about_bg {
  background: url('../../../assets/rdzx.png');
}
#page section .container .host_news {
  display: flex;
  width: 100%;
  height: 500px;
  padding-bottom: 50px;
  margin: 0 auto;
}
#page section .container .host_news .host_news_l {
  flex: 1.9;
}
#page section .container .host_news .host_news_l .news_hd {
  width: 100%;
  height: 88px;
}
#page section .container .host_news .host_news_l .news_hd a {
  color: #555;
  text-decoration: none;
  font: bold 14px/16px Verdana, Arial, Helvetica, sans-serif;
}
#page section .container .host_news .host_news_l .host_news_item {
  width: 100%;
  height: 85px;
  border: 0px;
  border-bottom: 1px;
  border-bottom-style: dotted;
  display: flex;
}
#page section .container .host_news .host_news_l .host_news_item .time {
  width: 60px;
  height: 60px;
  background-color: #000;
  margin: 10px 30px 0 20px;
  flex: -0.5;
  color: #fff;
}
#page section .container .host_news .host_news_l .host_news_item .time .day {
  padding: 8px;
  width: 60px;
  height: 40px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
#page section .container .host_news .host_news_l .host_news_item .detial {
  flex: 1;
  padding-top: 10px;
}
#page section .container .host_news .host_news_l .host_news_item .detial a {
  font-size: 16px;
  text-decoration: none;
}
#page section .container .host_news .host_news_l .host_news_item .detial a:hover {
  color: #d3b167;
}
#page section .container .host_news .host_news_l .host_news_item .detial .memo {
  color: #999999;
  font-size: 12px;
  padding-top: 3px;
}
#page section .container .host_news .host_news_r {
  flex: 1;
}
#page section .container .host_news .host_news_r .news_bg {
  width: 263px;
  height: 482px;
  position: relative;
  margin-left: 140px;
}
#page section .container .host_news .host_news_r .news_bg .add {
  position: absolute;
  width: 153px;
  height: 74px;
  background-image: url('../../../assets/add.png');
  top: 323px;
  left: -87px;
}
